* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.titulo1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 2rem;
  clear: left;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(0, 112, 240)
}

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f5f5f5;
}

header nav {
    background-color: #000;
    padding: 10px 0;
}

header nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    color: #fff;
    text-decoration: none;
}

header nav .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header .hero {
    background-image: url("../imagens/padaria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero-sobre {
    background-image: url("../imagens/padaria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formSearch input{
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba (0, 0, 0, .3);
    text-align: center;
}

main {
    margin: 20px 0px;
}

main .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main .container .pratos {
    display: flex;
    flex-direction: column;
}

.prato {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba (0, 0, 0, .3);
    transition: 0.3 ease;
}

.prato:hover {
    background-color: #f5f5f5;
}

.prato img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.prato h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.prato p {
    padding: 0ox 20px;
    font-size: 1rem;
}

.prato button{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba (0, 0, 0, .3);
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}

.prato button:hover {
    background-color: #dedede;
    color: #000;
}

footer {
    padding: 10px 0px;
}

footer .container p {
    text-align: center;
    font-weight: bold;
}

.hero-sobre {
    height: 300px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero-sobre .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    main .container .pratos {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    main container .pratos .prato {
      width: 300px;  
    }
}

.modal {
    position: fixed;
    width: 70%;
    left: 15%;
    top: 40%;
    background: #fefefe;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.form-group {
    width: 100%;    
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba (0, 0, 0, .3);
    background: #fff;
    box-shadow: 1px 1px 3px rgba (0, 0, 0, .3);
}

.btn {
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba (0, 0, 0, .3);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.85;
}

.btn-sucess {
    background: green;
    color: #fff
}

.btn-danger {
    background: red;
    color: #fff;
}

.hide {
    display: none;
}


.container {
    width: 90vw;
    margin: 0px auto;
}